/***** Begin Home ******/

.ActiveMe {
    color: rgb(97, 4, 69)!important;
    font-weight: bold!important;
}

.presentationHome {
    font-family: "pol"!important;
    color: white!important;
}

.parallax {
    /* The image used */
    background-image: url("../img/FondEcran.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Begin caroussel*/

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}


/*End caroussel*/


/*Overlay Slide*/

.containerImage {
    position: relative;
}

.imageHome {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.overlay {
    position: absolute;
    bottom: 20%;
    left: 10%;
    right: 0;
    overflow: hidden;
    width: 80%;
    height: 0;
    transition: 1s ease;
    background-color: rgb(4, 32, 41, 0.5);
}

.containerImageHome:hover .overlay {
    bottom: 0;
    height: 30%;
}

.text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*Overlay slide end*/


/***** End Home ******/


/***** Begin Lapland ******/

.BodyLapland {
    background-image: url("../img/FondEcran.jpg")!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.presentationLapland {
    font-family: "pol"!important;
    margin-top: 6em;
    color: white;
}

.season {
    background-color: rgba(17, 16, 16, 0.5);
}

.seasonRow {
    border: 2px solid beige;
}

.speciality {
    margin-top: 5%;
    background-color: rgba(17, 16, 16, 0.5);
}

.weather {
    margin-top: 5%;
}


/*Overlay Slide*/

.containerImage {
    position: relative;
}

.imageLapland {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.containerImageLapland:hover .overlay {
    bottom: 0;
    height: 40%;
}


/*Overlay slide end*/


/*Modal*/

.ModalHeaderLapland {
    font-family: "pol"!important;
    color: black!important;
}

.ModalBodyLapland {
    color: black!important;
}


/***** End Lapland ******/


/***** Begin Aurora ******/

.AuroraBody {
    background-image: url("../img/FondEcran.jpg")!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.AuroraMargin {
    margin-top: 6em;
}

.AuroraText {
    background-color: rgb(0, 0, 0, 0.4);
    color: white!important;
    margin-top: 5%;
    text-align: center;
    font-family: "pol"!important;
    border: 2px solid white;
}

.AuroraPadding {
    padding: 0!important;
}


/***** End Aurora ******/


/***** Begin Guides ******/

.bodyGuides {
    background-image: url("../img/FondEcran.jpg")!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainBoxesGuides {
    margin-top: 6em;
    font-family: "pol"!important;
}

.GuidesSpaces {
    line-height: 70%;
}

.marginRowGuides {
    margin-top: 10%;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    color: black;
}


/* Style the back side */

.flip-card-back {
    color: black;
    transform: rotateY(180deg);
}


/***** End Guides ******/


/***** Begin Contact ******/

.bodyContact {
    background-image: url("../img/FondEcran.jpg")!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainBoxesContact {
    margin-top: 10%;
    font-family: "pol"!important;
}

.numberPhoneContact,
.mailContact,
.lettreContact {
    margin-top: 5%;
    text-align: center;
}

.textContact {
    border: 2px solid white;
    background-color: rgb(0, 0, 0, 0.6);
    color: white!important;
}


/***** End Contact ******/


/***** Other *****/


/*Begin NavBar*/

#mainNav {
    min-height: 56px;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

#js-scroll-trigger {
    color: white!important;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: .75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
    outline: 0;
}

#mainNav .navbar-brand {
    color: white;
    font-weight: 700;
    padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: 0;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: 0;
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        opacity: 0.9;
        transition: background-color .3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: rgba(255, 255, 255, .5);
    }
    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: white;
    }
    #mainNav .nav-link:hover {
        color: rgba(243, 4, 4, 0.75);
    }
    #mainNav .nav-link:active {
        color: #fff;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #64a19d;
        outline: 0;
        border-bottom: .25rem solid #64a19d;
    }
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: red;
}

#navbar-collapse {
    color: red!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}


/*End NavBar*/

body {
    font-family: Nunito;
    letter-spacing: .0625em
}

a {
    color: #64a19d
}

.bg-primary {
    background-color: #64a19d!important
}

.text-primary {
    color: #64a19d!important
}

@font-face {
    font-family: "pol";
    src: url("../police/Sporter.ttf")
}

h2,
h3,
h4 {
    text-align: center;
}